<body>
    <navigation-bar></navigation-bar>
    <div class="container-fluid">
        <section class="first-section">
            <div class="container">
                <div class="row" style="padding-top: 130px; text-align: center;">
                    <div class="col-lg-10 mx-auto">
                        <h1 class="text-uppercase"
                        style="border-color: var(--bs-gray-800);color:var(--bs-gray-800) !important; text-align:center; font-weight: bold !important; margin-bottom: 1rem !important;">
                            <strong data-aos="fade" data-aos-duration="2500" data-aos-offset="300">Galerie</strong>
                        </h1>
                        <hr class="light my-4" style="border-color: rgb(7, 180, 7); max-width: 230px; margin-top: 0.5rem!important; margin-bottom: 1.5rem!important;border-width: 3px;margin-left: auto;
                        margin-right: auto;">
                    </div>
                </div>
            </div>
        </section>
        <div class="collumn-all-items" style="margin: -380px auto 200px;">
        <div class="row">
            <div class="column">
              <img src="/assets/img/galerie/pic1.jpg" />
              <img src="/assets/img/galerie/pic2.jpg" />
              <img src="/assets/img/galerie/pic3.jpg" />
            </div>
            <div class="column">
              <img src="/assets/img/galerie/pic6.jpg">
              <img src="/assets/img/galerie/pic7.jpg">
              <img src="/assets/img/galerie/pic8.jpg">
              <img src="/assets/img/galerie/pic9.jpg">
              <img src="/assets/img/galerie/pic5.jpg" />
              <img src="/assets/img/galerie/pic4.jpg" />
            </div>
            <div class="column">
              <img src="/assets/img/galerie/pic10.jpg" />
              <img src="/assets/img/galerie/pic11.jpg" />
              <img src="/assets/img/galerie/pic12.jpg">
              <img src="/assets/img/galerie/pic13.jpg">
              <img src="/assets/img/galerie/pic14.jpg">
              <img src="/assets/img/galerie/pic19.jpg">
            </div>
            <div class="column">
                <img src="/assets/img/galerie/pic15.jpg" />
                <img src="/assets/img/galerie/pic16.jpg" />
                <img src="/assets/img/galerie/pic17.jpg">
                <img src="/assets/img/galerie/pic18.jpg">
              </div>
          </div>
        </div>
    </div>
    <app-footer></app-footer>
</body>
