<body style="font-family: Open Sans,HelveticaNeue-Light,Helvetica Neue Light,Helvetica Neue,Helvetica,Arial,Lucida Grande,sans-serif;">
<h2>Stergere participare</h2>
Sigur doriti sa stergeti aceasta participare?
<br>
<div class="action-buttons">
    <br>
    <button mat-raised-button type="button" class="button-action" color="primary" (click)="Sterge()">Da</button>&nbsp;
    <button mat-raised-button type="button" class="button-action" style=" color: var(--bs-gray-800); background: white;" color="white" (click)="Renunta()">Nu</button>
</div>
</body>