<body>
    <navigation-bar></navigation-bar>
    
        <div class="container" style="padding-top: 20px; font-family: Open Sans,HelveticaNeue-Light,Helvetica Neue Light,Helvetica Neue,Helvetica,Arial,Lucida Grande,sans-serif">
            <section id="carousel">
                <div class="carousel slide" data-bs-ride="carousel" id="carousel-1">
                    <div class="carousel-inner">
                        <div class="carousel-item">
                            <div class="bg-light border rounded border-light pulse animated hero-trip carousel-hero jumbotron">
                                <h1 class="hero-title" style="font-size: 60px;">Excursii montane</h1>
                                <p class="hero-subtitle" style="font-size: 25px;">Organizam excursii montane pentru tinerii nostri voluntari.</p>
                                <p></p>
                            </div>
                        </div>
                        <div class="carousel-item">
                            <div class="bg-light border rounded border-light pulse animated hero-case carousel-hero jumbotron">
                                <h1 class="hero-title" style="font-size: 60px;">Cazuri sociale</h1>
                                <p class="hero-subtitle" style="font-size: 25px;">Ajutam familii nevoiase din Tara Dornelor si nu numai!</p>
                                <p></p>
                            </div>
                        </div>
                        <div class="carousel-item active">
                            <div class="bg-light border rounded border-light pulse animated hero-activity carousel-hero jumbotron">
                                <h1 class="hero-title" style="font-size: 60px;">Activitati</h1>
                                <p class="hero-subtitle" style="font-size: 25px;">Devino voluntar VDT si hai cu noi la activitati pline de joaca!</p>
                                <p></p>
                            </div>
                        </div>
                    </div>
                    
                    <div><a class="carousel-control-prev" href="#carousel-1" role="button" data-bs-slide="prev"><span class="carousel-control-prev-icon"></span><span class="visually-hidden">Previous</span></a><a class="carousel-control-next" href="#carousel-1" role="button" data-bs-slide="next"><span class="carousel-control-next-icon"></span><span class="visually-hidden">Next</span></a></div>
                    <ol class="carousel-indicators">
                        <li data-bs-target="#carousel-1" data-bs-slide-to="0"></li>
                        <li data-bs-target="#carousel-1" data-bs-slide-to="1"></li>
                        <li data-bs-target="#carousel-1" data-bs-slide-to="2" class="active"></li>
                    </ol>
                </div>
            </section>
            <div class="row pt-5" style="margin-top: 50px;">
                <div class="col">
                    <div></div>
                </div>				<div class="caption v-middle text-center">
					<h1 class="cd-headline clip">
			            <span class="blc">Eu sunt  </span><br>
			            <span class="cd-words-wrapper">
			              <b class="is-visible">Un voluntar.</b>
			              <b>Un erou.</b>
			              <b>O speranta.</b>
			            </span>
	          		</h1>
				</div>  
            </div>
        </div>
        <section class="py-5" style="padding: 50px 0px; margin-bottom: 100px !important;margin-top: 50px;">
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-lg-3 text-center">
                    <div class="mx-auto service-box mt-5" style="margin-top: 10px !important;"><i
                            class="fa fa-users fa-4x text-primary mb-3 sr-icons"  data-aos="zoom-in"
                            data-aos-duration="200" data-aos-once="true" style="color: rgb(27, 144, 43) !important;"></i>
                        <h3 class="mb-3" style="font-size: 50px;font-weight: bold; color: rgb(27, 144, 43)">50+</h3>
                        <p class="text-muted mb-0" style="font-weight: bold;">Voluntari</p>
                    </div>
                </div>
                <div class="col-md-6 col-lg-3 text-center">
                    <div class="mx-auto service-box mt-5" style="margin-top: 10px !important;"><i
                            class="fa fa-child fa-4x text-primary mb-3 sr-icons"  data-aos="zoom-in"
                            data-aos-duration="200" data-aos-once="true" style="color: rgb(27, 144, 43) !important;"></i>
                        <h3 class="mb-3" style="font-size: 50px;font-weight: bold; color: rgb(27, 144, 43)">200+</h3>
                        <p class="text-muted mb-0" style="font-weight: bold;">Cazuri sociale</p>
                    </div>
                </div>
                <div class="col-md-6 col-lg-3 text-center">
                    <div class="mx-auto service-box mt-5" style="margin-top: 10px !important;"><i
                            class="fa fa-map-pin fa-4x text-primary mb-3 sr-icons"  data-aos="zoom-in"
                            data-aos-duration="200" data-aos-once="true" style="color: rgb(27, 144, 43) !important;"></i>
                        <h3 class="mb-3" style="font-size: 50px;font-weight: bold; color: rgb(27, 144, 43)">30+</h3>
                        <p class="text-muted mb-0" style="font-weight: bold;">Excursii montane</p>
                    </div>
                </div>
                <div class="col-md-6 col-lg-3 text-center">
                    <div class="mx-auto service-box mt-5" style="margin-top: 10px !important;"><i
                            class="fa fa-thumbs-o-up fa-4x text-primary mb-3 sr-icons"  data-aos="zoom-in"
                            data-aos-duration="200" data-aos-once="true" style="color: rgb(27, 144, 43) !important;"></i>
                        <h3 class="mb-3" style="font-size: 50px;font-weight: bold; color: rgb(27, 144, 43)">100+</h3>
                        <p class="text-muted mb-0" style="font-weight: bold;">Activitati realizate</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="container" style="padding-top: 30px;margin-top: 30px;">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading"
                        style="color: rgb(15, 150, 15) !important; font-family:Open Sans,HelveticaNeue-Light,Helvetica Neue Light,Helvetica Neue,Helvetica,Arial,Lucida Grande,sans-serif;
                         font-size: 40px;" data-aos="fade" data-aos-duration="2500" data-aos-offset="300">Cu ajutorul tau putem realiza si mai multe!</h2>
                </div>
            </div>
        </div></section>
   

     <app-footer></app-footer>

    <script src="assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="assets/js/bs-init.js"></script>
    <script src="assets/js/Animated-Type-Heading-BS5-Animated-Type-Heading.js"></script>
    <script src="assets/js/bold-and-bright.js"></script>
</body>