<body>
    <section style="padding: 0px 0px;">
        <footer class="footer-dark" style="padding: 25px 0px;padding-bottom: 0px;background: #27292a;">
            <div class="container">
                <div class="row">
                    <div class="col-sm-6 col-md-4 item" style="text-align:center;">
                        <h3 style="font-family: Poppins, sans-serif;letter-spacing: 3px;">Pages</h3>
                        <ul>
                            <li><a routerLink="/info/about-us"
                                    style="font-size: medium; font-family: Poppins, sans-serif;">Despre noi</a><br>
                                    <a routerLink="/info/gallery"
                                    style="font-size: medium; font-family: Poppins, sans-serif;">Galerie</a><br>
                                    <a routerLink="/info/events-calendar"
                                    style="font-size: medium; font-family: Poppins, sans-serif;">Calendar evenimente</a></li>
                            
                        </ul>
                    </div>
                    <div class="col-sm-6 col-md-4 item" style="text-align:center;">
                        <h3 style="font-family: Poppins, sans-serif;letter-spacing: 3px;">Contact</h3>
                        <ul>
                            <li><span>Telefon : 0747 200 245</span></li>
                            <li><span>Email : asociatia.vatradorneitineret@gmail.com</span></li>
                            <li><span>Cont bancar : RO48BTRLRONCRT0V28305401</span></li>
                        </ul>
                    </div>
                    <div class="col-md-4 item text" style="text-align:center;">
                        <h3 style="font-family: Poppins, sans-serif;letter-spacing: 3px;">Follow us</h3>
                        <ul class="list-inline text-center">
                            <li class="list-inline-item"><span class="fa-stack fa-lg"
                                    onclick="location='https://www.facebook.com/vatra.dornei.tineret'"><i
                                        class="fa fa-circle fa-stack-2x" style="font-size: 40px;"></i><i
                                        style="color: blue; font-size: 25px; margin-top: 7px; margin-left: 1px;"
                                        class="fa fa-facebook fa-stack-1x fa-inverse"></i></span></li>
                            <!-- <li class="list-inline-item" style="margin-left: 10px;"><span class="fa-stack fa-lg"><i
                                    class="fa fa-circle fa-stack-2x" style="font-size: 45px;"></i><i
                                    style="color: darkviolet;  font-size: 30px; margin-top: 7px; margin-left: 3px;" class="fa fa-instagram fa-stack-1x fa-inverse"></i></span></li> -->
                        </ul>
                    </div>
                </div>
                <p class="copyright"><br>All rights reserved © 2023. Created by Antohi Ioana<br><br></p>
            </div>
        </footer>
    </section>
</body>