<footer class="text-white bg-dark"></footer>
        <footer id="myFooter">
            <div class="container-fluid">
                <div class="row text-center">
                    <div class="col-12 col-sm-6 col-md-3">
                        <h1 class="logo" style="margin-top: 30px;"><a><img src = "assets/img/vdt.png" style = "width:100px; height:100px;" ></a></h1>
                    </div>
                    <div class="col-12 col-sm-6 col-md-2">
                        <h5>Pagini</h5>
                        <ul>
                            <li><a routerLink="/home">Home</a></li>
                            <li><a href="#">Activitati<br></a></li>
                            <li><a href="#">Excursii</a></li>
                            <li><a href="#">Cazuri sociale</a></li>
                        </ul>
                    </div>
                    <div class="col-12 col-sm-6 col-md-2">
                        <h5>Organizatia noastra</h5>
                        <ul>
                            <li><a href="#">Despre noi</a></li>
                            <li><a >Telefon: 0747 200 245<br></a></li>
                            
                        </ul>
                    </div>
                    <div class="col-12 col-sm-6 col-md-2 social-networks">
                        <h5>Follow us</h5>
                        <a class="facebook" href="https://www.facebook.com/vatra.dornei.tineret"><i class="fa fa-facebook"></i></a>
                    </div>
                </div>
                <div class="row footer-copyright">
                    <div class="col">
                        <p>© 2023 Copyright Text ~ Designed By&nbsp;<a href="#">Antohi Ioana</a></p>
                    </div>
                </div>
            </div>
        </footer>