<body>
    <navigation-bar></navigation-bar>

    <section class="first" style="padding: 50px 0px; margin-bottom: 70px !important;">
        <div class="container">

            <div class="card">
                <img src="https://images.unsplash.com/photo-1615147342761-9238e15d8b96?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1001&q=80" class="card__image" alt="brown couch" />
                <div class="card__content">
                  <span class="card__title">Despre Vatra Dornei Tineret</span>
                </div>
              </div>

        </div>
    </section>

    <app-footer></app-footer>
</body>
