<body>
    <navigation-bar></navigation-bar>

    <section>
      <div class="imageH">
        <p class="headerH">Cine suntem noi?</p>
      </div>
    </section>

    <section>
      <div class="container" style="width: 900px; margin-top: 80px;">
        <h2 class="heading-h2" style="text-align: center;" data-aos="fade" data-aos-duration="2500" data-aos-offset="300">Suntem o echipa de eroi, ar spune unii. Noi ne consideram niste mici ajutoare
        care incearca sa aduca cateva zambete de la mic la mare in aceasta comunitate.</h2>
        <p class="paragraph" style="margin-top: 30px;" data-aos="fade" data-aos-duration="2500" data-aos-offset="300">VATRA DORNEI TINERET reprezintă o grupare de tineri ai Bazinului Dornelor, care s-a înființat în urmă cu zece ani,
          din pura dorință de a ajuta un băiețel pe nume Adelin, suferind de o boală rară. Însă acesta a fost doar începutul; tinerii voioși au
           continuat să ajute copiii multor familii, copii inocenți, aflați într-o situație materială precară. După doi ani de activitate, acești tineri
            au pus bazele acestui frumos ONG, numit Ascoiatia Vatra Dornei Tineret-VDT Vatra Dornei. 
         </p><br>
         <p class="paragraph" data-aos="fade" data-aos-duration="2500" data-aos-offset="300">Aproximativ 100 de tineri, majoritatea elevi, dar și studenți, au ca scop intrajutoarea copiilor, care din cauza anumitor factori
          nu beneficiază de șansa la educație, sau la un trai modest; de asemenea protecția socială, sprijinul sanitar la nivel local. Dar, să nu uităm să ne și
           destindem; astfel acești tineri organizează ocazional drumeții, ateliere și diferite  cursuri dedicate dezvoltării personale!</p>
      </div>
    </section>

    <section class="first" style="padding: 50px 0px; margin-bottom: 70px !important;margin-top: 20px;">
        <div class="container">

            <div class="card">
                <img src="/assets/img/galerie/pic21.jpg" class="card__image" alt="brown couch" />
                <div class="card__content">
                  <span class="card__title">Cristian Hutan</span><p class="paragraph">- presedinte, fondator</p><br>
                  <p class="paragraph">Am inceput prin dorinta de a ajuta un baietel, Adelin. Am vazut cat de mult conteaza
                    sa vrei sa faci o schimbare in bine si am decis sa cream acest grup, Vatra Dornei Tineret. Incetul cu incetul
                    ne-am inmultit, in prezent avand peste 50 de voluntari. Ma bucur sa vad atata dorinta de a face bine
                    in sufletul acestor copii. 
                  </p>
                </div>
              </div>

        </div>
    </section>

    <section style="padding: 1rem 0;background-color: rgba(97, 139, 43, 0.216);">
      <div class="container">
        <div class="row" style="padding-top: 50px; text-align: center;">
          <div class="col-lg-10 mx-auto">
              <h1 class="text-uppercase"
              style="border-color: var(--bs-gray-800);color:var(--bs-gray-800) !important; text-align:center; font-weight: bold !important; margin-bottom: 1rem !important; font-family: Open Sans,HelveticaNeue-Light,Helvetica Neue Light,Helvetica Neue,Helvetica,Arial,Lucida Grande,sans-serif;">
                  <strong data-aos="fade" data-aos-duration="2500" data-aos-offset="300">Membri fondatori</strong>
              </h1>
              <hr class="light my-4" style="border-color: rgb(7, 180, 7); max-width: 230px; margin-top: 0.5rem!important; margin-bottom: 1.5rem!important;border-width: 3px;margin-left: auto;
              margin-right: auto;">
          </div>
      </div>
        <div class="row" style="margin-top: 50px; text-align: center;margin-bottom: 50px;">
          <div class="col-lg-3 member-card">
              <img class="rounded-circle"
                  style="background-image: url('assets/img/galerie/pic22.jpg'); margin-top: -70px;height: 225px;border: 7px solid green; width: 225px;background-position:center;background-size: cover">
              <span class="member-name">Antohi Marian</span>
              <span class="member-status">VICE-PREȘEDINTE</span>
          </div>
          <div class="col-lg-3 member-card">
              <img class="rounded-circle"
                  style="background-image: url('assets/img/galerie/pic23.jpg'); margin-top: -70px;height: 225px;border: 7px solid green; width: 225px;background-position:center;background-size: cover">
              <span class="member-name">Antonievici Beatrice</span>
              <span class="member-status">MEMBRU-FONDATOR</span>
          </div>
          <div class="col-lg-3 member-card">
              <img class="rounded-circle"
                  style="background-image: url('assets/img/galerie/pic24.jpg'); margin-top: -70px;height: 225px;border: 7px solid green; width: 225px;background-position:center;background-size: cover">
              <span class="member-name">Popa Andrei</span>
              <span class="member-status">MEMBRU-FONDATOR</span>
          </div>
          <div class="col-lg-3 member-card">
              <img class="rounded-circle"
                  style="background-image: url('assets/img/galerie/pic25.jpg'); margin-top: -70px;height: 225px;border: 7px solid green; width: 225px;background-position:center;background-size: cover">
              <span class="member-name">Vorobet Vlad</span>
              <span class="member-status">MEMBRU-FONDATOR</span>
          </div>
      </div>
      </div>
    </section>

    <app-footer></app-footer>
</body>
