<body>
    <navigation-bar></navigation-bar>
    <div class="container-fluid">
        <section class="first-section">
            <div class="container">
                <div class="row" style="padding-top: 180px; text-align: center;">
                    <div class="col-lg-10 mx-auto">
                        <h1 class="text-uppercase"
                            style="color: white; font-size: 32px;font-family: 'Poppins';letter-spacing: 10px;">
                            <strong data-aos="fade" data-aos-duration="2500"
                                data-aos-offset="300">{{this.eveniment.denumire}}</strong>
                        </h1>
                        <hr
                            style="background: var(--bs-danger);color: var(--bs-danger);border-color: var(--bs-danger); max-width: 200px; margin-top: 10px; margin-bottom: 5px;">
                        <span
                            style="color: whitesmoke; font-size: 19px;font-weight: 500;font-family:Poppins, sans-serif; letter-spacing: 3px;"
                            data-aos="fade" data-aos-duration="2500"
                            data-aos-offset="300">{{this.eveniment.tipEveniment}}</span>
                    </div>
                </div>
            </div>
        </section>
        <div class="column-all-itmes" [ngStyle]="{ 'max-width': this.isAdmin ? '1070px' : '970px'}">
            <div *ngIf="showStdA">
                <div class="row content">
                    <h2 class="text-info fw-light mb-5"
                        style="border-color: var(--bs-gray-800);color:whitesmoke !important; text-align:center; letter-spacing: 15px; font-weight: bold !important; margin-bottom: 0.5rem !important;font-family:Poppins, sans-serif;">
                        STANDARD <b style="color: var(--bs-danger);">A</b></h2>
                </div>
                <div class="mat-elevation-z8">
                    <mat-table [dataSource]="this.dataSource">
                        <ng-container matColumnDef="participant">
                            <mat-header-cell *matHeaderCellDef> Participant </mat-header-cell>
                            <mat-cell *matCellDef="let element">{{element.participantNume}}</mat-cell>
                        </ng-container>
                        <ng-container matColumnDef="actions">
                            <mat-header-cell *matHeaderCellDef style="min-width: 100px;max-width: 100px;"> ACTIUNI </mat-header-cell>
                            <mat-cell *matCellDef="let element; let i=index" style="min-width: 100px;max-width: 100px;">
                              <div class="inline-content">
                                <a style="cursor: pointer;" (click)="deleteRow(element.participareId)">
                                  <mat-icon style="color:red; font-size: 28px" matTooltip="Sterge inscrierea">delete</mat-icon>
                                </a>
                              </div>
                            </mat-cell>
                          </ng-container>
                    <div *ngIf="!this.isAdmin">
                        <mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></mat-header-row>
                        <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
                    </div>
                    <div *ngIf="this.isAdmin">
                        <mat-header-row *matHeaderRowDef="displayedColumnsAdmin; sticky: true"></mat-header-row>
                        <mat-row *matRowDef="let row; columns: displayedColumnsAdmin;"></mat-row>
                    </div>
                    </mat-table>
                </div>
            </div>
        </div>
    </div>
    <app-footer></app-footer>
</body>