.first-section {
    background: #afd49e52;
    padding: 0px;
    height: 700px;
}


.column-all-itmes {
    background: white;
    padding: 40px 35px;
    max-width: 1150px;
    border-radius: 15px;
    margin: auto;
    margin-top: -300px;
}

.file-input {
    display: none;
}

div.file-upload {
    max-width: 270px;
    padding-top: 10px;
    text-align: center;
}

@media (max-width: 750px) {
    .column-all-itmes {
        background: white;
        padding: 40px 35px;
        max-width: 1150px;
        //border-radius: 15px;
        margin: auto;
        margin-top: -75px;
    }

    .first-section {
        background: #27292a;
        padding: 0px;
        height: 500px;
    }
}

@media (max-width: 418px) {
    .column-all-itmes {
        background: white;
        padding: 40px 35px;
        max-width: 1150px;
        //border-radius: 15px;
        margin: auto;
        margin-top: 0px;
    }
}


div.row.content {
    justify-content: center;
    padding: 5px 0px;
}

div.row.content.mt-40 {
    margin-top: 40px;
}

div.col.content {
    max-width: 80% !important;
    margin: auto;
    margin-bottom: 40px;
}

mat-form-field {
    width: 100%;
    max-width: 270px;
    padding-top: 15px;
}

.warning-massage {
    color: gray;
    font-size: small;
    display: inline-block;
    width: 100%;
    padding: 10px;
    text-align: center;
}

.button-action:hover{
    color: white !important;
    background: #019014 !important;
}

mat-checkbox {
    width: 100%;
    max-width: 135px;
    padding-top: 15px;
    text-align: center;
}

.responsive-image {
    width: 100%;
    max-width: 600px;
    height: auto;
    border-radius: 40px;
    margin: 1rem;
}

#mat-input-7{
    font-size: 20px;
    text-align: center;
}

#mat-input-6{
    font-size: 20px;
    text-align: center;
}