<!-- <nav class="navbar navbar-light navbar-expand-md sticky-top navbar-shrink py-3" id="mainNav" style = "height: 80px;">
    <div class="container"><a class="navbar-brand d-flex align-items-center" routerLink="/home"><span><img src = "assets/img/vdt.png" style = "width:70px; height:70px;"></span></a><button data-bs-toggle="collapse" class="navbar-toggler"
            data-bs-target="#navcol-1"><span class="visually-hidden">Toggle navigation</span><span
                class="navbar-toggler-icon"></span></button>
        <div class="collapse navbar-collapse" id="navcol-1">
            <ul class="navbar-nav mx-auto">
                <li class="nav-item"><a class="nav-link" routerLink="/home">Home</a></li>
                <li class="nav-item"><a class="nav-link" href="services.html">Despre noi</a></li>
                <li class="nav-item"><a class="nav-link" href="projects.html">Cazuri sociale</a></li>
                <li class="nav-item"><a class="nav-link" href="pricing.html">Activitati</a></li>
                <li class="nav-item"><a class="nav-link" routerLink="/excursii">Excursii</a></li>
                <li class="nav-item" *ngIf="authenticated"><a class="nav-link" routerLink="/user/profile">Profil</a></li>
            </ul>
            <a *ngIf="!authenticated" role="button" class="btn btn-primary shadow" routerLink="/login" style = "margin-top:auto;">Sign in</a>
            <a *ngIf="authenticated" role="button" class="btn btn-primary shadow" (click)="Logout()" style = "margin-top:auto;">Logout</a>
        </div>
    </div>
</nav> -->
<nav class="navbar navbar-main navbar-light navbar-expand-md sticky-top navbar-shrink py-3" id="mainNav" style="background: #ffffff;display: block; padding-bottom: 0px;">
    <div class="container"><a class="navbar-brand" href="#page-top"><img src="assets/img/vdt.png" style="width: 60px; height: 60px;"></a><button
            data-bs-toggle="collapse" data-bs-target="#navbarResponsive" class="navbar-toggler navbar-toggler-right"
            type="button" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation"><i
                class="fa fa-align-justify"></i></button>
        <div class="collapse navbar-collapse" id="navbarResponsive" style="font-family: Poppins, sans-serif;">
            <ul class="navbar-nav ms-auto" style="align-items: center;">
                <li class="nav-item"><a class="nav-link" routerLink="/home">Home</a></li>
                <li class="nav-item dropdown"><a class="dropdown-toggle nav-link" aria-expanded="false" data-bs-toggle="dropdown" href="#">Informatii</a>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" routerLink="/info/about-us">Despre noi</a>
                        <a class="dropdown-item" routerLink="/info/gallery">Galerie</a>
                </div></li>
                <li class="nav-item dropdown"><a class="dropdown-toggle nav-link" aria-expanded="false" data-bs-toggle="dropdown" href="#">Cazuri sociale</a>
                    <div class="dropdown-menu">
                            <a class="dropdown-item" 
                                    *ngFor ="let caz of cazuri" role="button" (click)="openEvent(caz)">{{caz.name}}</a>
                    </div>
            </li>
            <li class="nav-item dropdown"><a class="dropdown-toggle nav-link" aria-expanded="false" data-bs-toggle="dropdown" href="#">Activitati</a>
                <div class="dropdown-menu">
                        <a class="dropdown-item" 
                                *ngFor ="let activitate of activitati" role="button" (click)="openEvent(activitate)">{{activitate.name}}</a>
                </div>
        </li>
        <li class="nav-item dropdown"><a class="dropdown-toggle nav-link" aria-expanded="false" data-bs-toggle="dropdown" href="#">Excursii</a>
            <div class="dropdown-menu">
                    <a class="dropdown-item" 
                            *ngFor ="let excursie of excursii" role="button" (click)="openEvent(excursie)">{{excursie.name}}</a>
            </div>
    </li>
                <li class="nav-item" *ngIf="authenticated"><a class="nav-link" routerLink="/user/profile">Profil</a>
                </li>
                <li class="nav-item dropdown" *ngIf="administrator">
                    <a class="dropdown-toggle nav-link" aria-expanded="false" data-bs-toggle="dropdown" href="#">Administrare</a>
                <div class="dropdown-menu">
                        <a class="dropdown-item" routerLink="/administration">General</a> 
                </div>
            </li>
                <a *ngIf="!authenticated" role="button" class="btn btn-primary shadow" routerLink="/login"
                style="margin:auto;">Sign in</a>
                <a *ngIf="authenticated" role="button" class="btn btn-primary shadow" (click)="Logout()"
                style="margin:auto;">Logout</a>
            </ul>
        </div>
    </div>
   
</nav>


