<nav class="navbar navbar-light navbar-expand-md sticky-top navbar-shrink py-3" id="mainNav" style = "height: 80px;">
    <div class="container"><a class="navbar-brand d-flex align-items-center" routerLink="/home"><span><img src = "assets/img/vdt.png" style = "width:70px; height:70px;"></span></a><button data-bs-toggle="collapse" class="navbar-toggler"
            data-bs-target="#navcol-1"><span class="visually-hidden">Toggle navigation</span><span
                class="navbar-toggler-icon"></span></button>
        <div class="collapse navbar-collapse" id="navcol-1">
            <ul class="navbar-nav mx-auto">
                <li class="nav-item"><a class="nav-link" routerLink="/home">Home</a></li>
                <li class="nav-item"><a class="nav-link" href="services.html">Despre noi</a></li>
                <li class="nav-item"><a class="nav-link" href="projects.html">Cazuri sociale</a></li>
                <li class="nav-item"><a class="nav-link" href="pricing.html">Activitati</a></li>
                <li class="nav-item"><a class="nav-link" href="contacts.html">Excursii</a></li>
                <li class="nav-item" *ngIf="authenticated"><a class="nav-link" routerLink="/user/profile">Profil</a></li>
            </ul>
            <a *ngIf="!authenticated" role="button" class="btn btn-primary shadow" routerLink="/login" style = "margin-top:auto;">Sign in</a>
            <a *ngIf="authenticated" role="button" class="btn btn-primary shadow" (click)="Logout()" style = "margin-top:auto;">Logout</a>
        </div>
    </div>
</nav>
