<body>
    <navigation-bar></navigation-bar>
    <header class="text-center text-white d-flex masthead"
    style="background: url(&quot;assets/img/excursii-header.jpg&quot;); background-repeat: no-repeat;height: 500px; background-size: cover; background-position:center">
    <div class="container my-auto">
        <div class="row">
            <div class="col-lg-10 mx-auto" style="margin-top: -350px;">
                <h1 class="text-uppercase"><strong>Campionatul national de off-road</strong></h1>
                <hr style="background: var(--bs-danger);color: var(--bs-body-bg);border-color: var(--bs-danger);">
            </div>
        </div>
        <!-- <div class="col-lg-8 mx-auto">
            <p class="text-faded mb-5" style="color: var(--bs-danger);">Acesta este site-ul oficial al Campionatului National de Off-Road a Romaniei
        </div> -->
    </div>
</header>
    <div class="container-fluid">
        <div class="card-deck">
            <div class="card">
                <div class="card-body">
                    <section class="bg-white">
                        <div class="container-fluid">
                            <div class="row">
                                <div class="col-md-12 col-lg-6" style="padding: 0px;background: url(assets/img/excursii.jpg) center / cover no-repeat;">
                                    <p><br><br><br><br><br><br><br><br><br><br><br><br><br></p>
                                </div>
                                <div class="col-md-12 col-lg-6">
                                    <h1 class="text-dark" style="padding-top: 20px;padding-left: 15px;padding-right: 15px;">Heading</h1>
                                    <hr>
                                    <p class="text-black-50" style="padding-left: 15px;padding-right: 15px;">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam vel lorem a lectus finibus bibendum ut sagittis diam. Nunc egestas nulla in elit congue, id pellentesque ex semper. Aenean euismod tellus tincidunt massa eleifend, a efficitur lectus ultricies. Aliquam bibendum et leo quis consectetur. Integer consequat consequat mauris, id porttitor sem feugiat eu. Proin ac neque eu nisi viverra mattis. Curabitur molestie lectus ac sollicitudin faucibus. Duis congue ipsum eget justo egestas blandit.</p>
                                    <div style="text-align: center;"><button class="btn btn-light btn-lg" type="button" style="margin-bottom: 21px;">Inscrie-te!</button></div>
                                </div>
                            </div>
                        </div>
                    </section>
                </div>
            </div>
            <div class="card">
                <div class="card-body">
                    <section class="bg-white">
                        <div class="container-fluid">
                            <div class="row">
                                <div class="col-md-12 col-lg-6" style="padding: 0px;background: url(assets/img/excursii.jpg) center / cover no-repeat;">
                                    <p><br><br><br><br><br><br><br><br><br><br><br><br><br></p>
                                </div>
                                <div class="col-md-12 col-lg-6">
                                    <h1 class="text-dark" style="padding-top: 20px;padding-left: 15px;padding-right: 15px;">Heading</h1>
                                    <hr>
                                    <p class="text-black-50" style="padding-left: 15px;padding-right: 15px;">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam vel lorem a lectus finibus bibendum ut sagittis diam. Nunc egestas nulla in elit congue, id pellentesque ex semper. Aenean euismod tellus tincidunt massa eleifend, a efficitur lectus ultricies. Aliquam bibendum et leo quis consectetur. Integer consequat consequat mauris, id porttitor sem feugiat eu. Proin ac neque eu nisi viverra mattis. Curabitur molestie lectus ac sollicitudin faucibus. Duis congue ipsum eget justo egestas blandit.</p>
                                    <div style="text-align: center;"><button class="btn btn-light btn-lg" type="button" style="margin-bottom: 21px;">Lorem </button></div>
                                </div>
                            </div>
                        </div>
                    </section>
                </div>
            </div>
            <div class="card">
                <div class="card-body">
                    <section class="bg-white">
                        <div class="container-fluid">
                            <div class="row">
                                <div class="col-md-12 col-lg-6" style="padding: 0px;background: url(assets/img/excursii.jpg) center / cover no-repeat;">
                                    <p><br><br><br><br><br><br><br><br><br><br><br><br><br></p>
                                </div>
                                <div class="col-md-12 col-lg-6">
                                    <h1 class="text-dark" style="padding-top: 20px;padding-left: 15px;padding-right: 15px;">Heading</h1>
                                    <hr>
                                    <p class="text-black-50" style="padding-left: 15px;padding-right: 15px;">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam vel lorem a lectus finibus bibendum ut sagittis diam. Nunc egestas nulla in elit congue, id pellentesque ex semper. Aenean euismod tellus tincidunt massa eleifend, a efficitur lectus ultricies. Aliquam bibendum et leo quis consectetur. Integer consequat consequat mauris, id porttitor sem feugiat eu. Proin ac neque eu nisi viverra mattis. Curabitur molestie lectus ac sollicitudin faucibus. Duis congue ipsum eget justo egestas blandit.</p>
                                    <div style="text-align: center;"><button class="btn btn-light btn-lg" type="button" style="margin-bottom: 21px;">Lorem </button></div>
                                </div>
                            </div>
                        </div>
                    </section>
                </div>
            </div>
        </div>
    </div>
    <app-footer></app-footer>
</body>
