.first-section {
    background: #afd49e52;
    padding: 0px;
    height: 700px;
}

.container-fluid{
    width: 100%;
    padding-right: var(--bs-gutter-x, 0.75rem);
    padding-left: var(--bs-gutter-x, 0.75rem);
    margin-right: auto;
    margin-left: auto;
}