<body>
    <navigation-bar></navigation-bar>
    <div class="container-fluid">
        <section class="first-section">
            <div class="container">
                <div class="row" style="padding-top: 180px; text-align: center;">
                    <div class="col-lg-10 mx-auto">
                        <h1 class="text-uppercase"
                        style="border-color: var(--bs-gray-800);color:var(--bs-gray-800) !important; text-align:center; font-weight: bold !important; margin-bottom: 1rem !important;">
                            <strong data-aos="fade" data-aos-duration="2500" data-aos-offset="300">Calendar evenimente</strong>
                        </h1>
                        <hr class="light my-4" style="border-color: rgb(7, 180, 7); max-width: 230px; margin-top: 0.5rem!important; margin-bottom: 1.5rem!important;border-width: 3px;margin-left: auto;
                        margin-right: auto;">
                    </div>
                </div>
            </div>
        </section>
    </div>
    <app-footer></app-footer>
</body>
